.change
{
  background: #123;
  border-radius: 100%;
  cursor: pointer;
  color: white;
  display: inline;
}
#calenderdiv
{
  position: relative;
  margin: 0 auto;
  width: 250px;
}
#calenderheader
{
  width: 100%;
  background: #eee;
}
#calenderheader td
{
  cursor: pointer;
  text-align: center;
}
#caption
{
  background: #ffb84d;
  border-radius: 5%;
  font-weight: bold;
  height: 30px;
}
#previous
{
  left: -45px;
  position: relative;
  top: 5px;
}
#next
{
  left: 45px;
  position: relative;
  top: 5px;
}
#selectdate
{
  width: 100%;
}
